@model IEnumerable<sonmarket.Models.Categoria>
@{
    Layout = "_LayoutAdm";
}
<h2>Ativar categorias</h2>

<script>
    $(document).ready(function () {
        $('#categorias').DataTable({
            "info": false,
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>

<table id="categorias" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model)
        {
            <tr>
                <td>@cat.Id</td>
                <td>@cat.Nome</td>
                <td>
                    <form asp-controller="Categorias" asp-action="Ativar" style="display: inline;">
                        <input type="hidden" name="id" id="id" value="@cat.Id">
                        <button class="btn btn-success">Ativar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>