@model sonmarket.Models.Categoria
@{
    Layout = "_LayoutAdm";
}
<h2>Categorias</h2>
<hr />
<a class="btn btn-success" asp-controller="Gestao" asp-action="NovaCategoria">Nova categoria</a>
<a class="btn btn-info" asp-controller="Gestao" asp-action="AtivarCategoria">Ativar categoria</a>
<hr />