@model sonmarket.Models.Fornecedor
@{
    Layout = "_LayoutAdm";
}

<h2>Fornecedores</h2>
<hr />
<a class="btn btn-success" asp-controller="Gestao" asp-action="NovoFornecedor">Novo fornecedor</a>
<a class="btn btn-info" asp-controller="Gestao" asp-action="AtivarFornecedor">Ativar fornecedor</a>
<hr />