@model sonmarket.DTO.PromocaoDTO
@{
    Layout = "_LayoutAdm";
}
<h2>Nova promoção</h2>
<hr />
<form class="form-horizontal" asp-controller="Promocoes" asp-action="Salvar" method="POST">
    <div>
        <input type="hidden" asp-for="Id" value="0">
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" asp-for="Nome" placeholder="Nome">
        <span asp-validation-for="Nome"></span>
    </div><br>
    <div>
        <label for="ProdutoID">Produto</label>
        <select class="form-control" asp-for="ProdutoID"
            asp-items='@(new SelectList(@ViewBag.Produtos,"Id","Nome"))'></select>
        <span asp-validation-for="ProdutoID"></span>
    </div><br>
    <div>
        <label for="Porcentagem">Porcentagem</label>
        <input type="number" step="any" class="form-control" asp-for="Porcentagem" placeholder="0-100%">
        <span asp-validation-for="Porcentagem"></span>
    </div><br>
    <div>
        <button class="btn btn-success">Cadastrar</button>
    </div>
</form>