@model sonmarket.Models.Produto
@{
    Layout = "_LayoutAdm";
}
<h2>Produtos</h2>
<hr />
<a class="btn btn-success" asp-controller="Gestao" asp-action="NovoProduto">Novo produto</a>
<a class="btn btn-info" asp-controller="Gestao" asp-action="AtivarProduto">Ativar produto</a>
<hr />